.hero4 {
  width: 100%;
  height: 90vh;
  padding: 0 10%;
  /* white-space: nowrap; */
}
.heading {
  font-weight: 600;
  font-size: 35px;
  line-height: 72px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #252b3b;
}
.boxs {
  display: flex;
  padding: 5%;
  gap: 30px;
  flex-wrap: wrap;
}
.boxs .box {
  width: 250px;
  height: 210px;
  padding: 2% 3% 5% 3%;
  text-align: start;
  background: #fbfbfb;
  border: 2px solid rgba(254, 90, 129, 0.13);
  box-shadow: 2px 6px 15px rgba(254, 90, 129, 0.15);
  border-radius: 32px;
}
.ball {
  width: 30px;
  height: 30px;
  background: #fe5a81;
  border-radius: 50%;
  margin: auto;

  text-align: center;
}
.box-head {
  font-weight: 600;
  font-size: 20px;
  /* line-height: 24px; */
  text-align: start;
  letter-spacing: -0.04em;
  margin-top: 10px;
  color: #252b3b;
}
.ball img {
  margin-top: -10px;
}
.box .box-para {
  font-weight: 400;
  font-size: 14px;
  /* line-height: 20px; */
  /* margin-left: -0; */
  letter-spacing: -0.04em;
  color: rgba(37, 43, 59, 0.6);
  /* white-space: nowrap; */
}
.box .boxpara {
  color: #000;
  width: 0px;
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
  .hero4 {
    width: 100%;
    height: 130vh;
  }
  .heading {
    font-size: 27px;
    line-height: 52px;
  }

  .box-head {
    text-align: center;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .hero4 {
    width: 100%;
    height: 120vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .hero4 {
    width: 100%;
    height: 60vh;
  }
}
@media only screen and (min-width: 1024px) {
  .hero4 {
    /* width: 100%; */
    height: 100vh;
  }
}
@media only screen and (min-width: 1280px) {
  .hero4 {
    width: 100%;
    height: 60vh;
  }
}
