.hero7 {
  width: 100%;
  height: 90vh;
  display: block;
  /* justify-content: center;
  align-items: center; */
  padding: 0 10%;
}
.accordion .item {
  border: 0;
  border-radius: 0;
  padding: 1.5rem 1rem;
}
.accordion .item .accordion-header button {
  background-color: transparent;
  box-shadow: none;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #000;
  vertical-align: middle;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}
.accordion .item .accordion-header button::after {
  transition: all 0.6s ease;
}
.accordion .item .accordion-collapse {
  transition: all 0.4s ease;
}
.accordion .item .accordion-body {
  text-align: start;
}

.faq {
  font-weight: 600;
  font-size: 38px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: -0.04em;
  text-align: center;
  color: #252b3b;
  padding: 3% 0;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
  .hero7 {
    width: 100%;
    height: 55vh;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .hero7 {
    width: 100%;
    height: 50vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .hero7 {
    width: 100%;
    height: 40vh;
  }
}
@media only screen and (min-width: 1280px) {
  .hero7 {
    width: 100%;
    height: 55vh;
  }
}
